body{
    margin: 0%;
    padding: 0%;
    background-color: #DBDFFD;
    font-family: 'Arima', cursive;
}
:root{
    --primary-color: #242F9B;
    --secondary-color: #646FD4;
    --tertiary-color: #9BA3EB;
    --other-color: #DBDFFD;
}
#navbar{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 21px;
}
#navbar::before{
    content: "";
    background-color: var(--primary-color);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#logo img{
    height: 80px;
    width: 80px;
    margin: 0px 30px;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style-type: none;
}
#navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 0px 30px;
    border-radius: 5px;
    color: var(--other-color);
}
#navbar ul li a:hover{
    color: var(--tertiary-color);
}
#home{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 300px;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-top: -21px;
}
#home::before{
    content: "";
    position:absolute;
    background: url("../img/bg2.jpg") no-repeat center center/cover;
    width: 100%;
    height: 500px;
    z-index: -1;
    opacity: 0.96;
}
.h-primary{
    font-size: 2.8rem;
    padding: 0px;
}
#home h1{
    font-family: 'Arima', cursive;
}
#home p{
    font-size: 1.5rem;
    font-family: 'Arima', cursive;
}
.btn{
    padding: 5px 10px;
    font-family: 'Arima', cursive;
    border-radius: 5px;
    background-color: #9BA3EB;
}
.container{
    text-align: center;
}
.services{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;  
    justify-content: center;
    margin-bottom: 50px;
}
.services img{
    height: 120px;
    width: 120px;
}
.delivery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 5px;
    width: 300px;
    background-color:#646FD4;
    border-radius: 20px;
    font-family: 'Arima', cursive;
}
.caterer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 5px;
    width: 300px;
    background-color:#646FD4;
    border-radius: 20px;
    font-family: 'Arima', cursive;
}
.bulk{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 5px;
    width: 300px;
    background-color:#646FD4;
    border-radius: 20px;
    font-family: 'Arima', cursive;
}
.clients img{
    height: 150px;
    width: 150px;
    padding:30px;
}
.clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
/* .clients::before{
    content: "";
    background: url("../img/bg1.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
} */
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: -4%;
    align-items: center;
    justify-content: center;
    height: 700px;
    font-weight: bold;
}
form input{
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 25px;
    opacity: 70%;
    text-align: center;
}
form button{
    width: 300px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}
form::before{
    content: "";
    position: absolute;
    background: url("../img/contact.jpg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 89%;
}
.footer{
    background-color: #242F9B;
    width: 100%;
    height: 100px;
    color: #DBDFFD;
    text-align: center;
}
